.btn_pink{
background-color:#B94274;
padding: 15px 20px;
border-radius: 4px;
color: white;
font-weight: bold;
font-family: Roboto;
text-align: center;
}

.btn_purple{
background-color:#775D94;
padding: 15px 20px;
border-radius: 4px;
color: white;
font-weight: bold;
font-family: Roboto;
text-align: center;	
}
